<div class="page-title">
    <div class="details-box">
      <div>
        <h1 class="title-font">{{recipeDetails.recipe.title}}</h1>
        <a target="_blank" href="{{recipeDetails.recipe.source_url}}">view instructions</a>
        <br>
        <br>
        <img class="image" src="{{recipeDetails.recipe.image_url}}" alt="">
        <br>
        <br>
        <p style="font-size: 23px;">Ingredients:</p>
        <ul ng-repeat='ingredients in recipeDetails.recipe.ingredients'>
          <li class="details-font">
            {{ingredients}}
          </li>
          <br>
        </ul>
      </div>
    </div>
  </div>
