<h1 class="page-title">All Recipes</h1>
<div class="page-title">
  <input class="search-bar" ng-model="searchText" placeholder="ingredients i.e. chicken, jalapenos...">
  <br>
  <br>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3" ng-repeat='recipe in recipes | filter:searchText'>
      <div class="recipe-block">
        <img ng-click='getRecipeDetail(recipe.recipe_id)' class='pics hover-item' ng-src='{{recipe.image_url}}' ui-sref='recipedetails'>
        <p ng-click='getRecipeDetail(recipe.recipe_id)' ui-sref='recipedetails'>{{recipe.title}}</p>
      </div>
    </div>
  </div>

</div>

<section>
  <ul class="pager">
    <li class="previous"><a href="#">Previous</a></li>
    <li class="next"><a href="#">Next</a></li>
  </ul>
</section>
